
* {
    box-sizing: border-box;
}

.signup-form {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 30px;
    min-height: 70vh;
    max-height: 70vh;
    width: 70vw;
    max-width: 100vw;
    margin: 50px auto;
    justify-content: center;
    border-radius: 15px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100%;
}

.form-element {
    padding: 5px;
    margin: 5px 0 5px 0;
}

.form-input {
    width: 100%;
    padding: 3px 10px;
    border: 0;
    background: none;
    border-bottom:1px solid #000;
}

.form-input-label {
    text-transform: capitalize;
    margin-bottom: -10px;
}

.form-input-button {
    width: 100%;
    padding: 5px;
    color: white;
    border: none;
    background-color: #353535;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px 0 ;
}

.form-input-button:hover {
    border: 2px solid #353535;
    color: #000;
    background-color: #fff;
    transition-duration: 0.2s;
}


.form-radio-role {
    display: inline-block;
}

.form-radio-label {
    width: 150px;
    margin-right: 10px;
    margin-left: 0;
}


.form-all-teams {
    height: 100%;
}

.teams-container {
    margin-top: 20px;
    min-height: 58vh;
    height: 58vh;
    max-height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.teams-container-team {
    text-align: center;
    margin: 5px;
    padding: 5px 10px;
}


.teams-container input[type=radio] {
    display: none;
}

.teams-container input[type="radio"]:checked + label {
    background-color: rgb(0, 209, 59);
    color: #fff;
}