{% extends "layout.html" %} {% block title %}Sign Up{% endblock %}

{% block linkscript%}
<link rel="stylesheet" href="../static/signup-form.css">
<script src="../static/signup-form.js" defer></script>
{% endblock %}



{% block content %}

<form method="POST">
    {{ form.csrf_token }}

    <div class="signup-form shadow">
        <div class="form-elements">
            <h5 style="text-align: center;">Sign Up</h5>
            <div class="form-element">
                {{ form.username.label(class_="form-input-label") }}
                {{ form.username(size=32, class_="form-input") }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-element">
                {{ form.password.label(class_="form-input-label") }}
                {{ form.password(size=32, class_="form-input") }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-element">
                {{ form.password_confirm.label(class_="form-input-label") }}
                {{ form.password_confirm(size=32, class_="form-input") }}
                {% for error in form.password_confirm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-element">
                {{ form.fullname.label(class_="form-input-label") }}
                {{ form.fullname(size=32, class_="form-input") }}
                {% for error in form.fullname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            <div class="form-element">
                <span class="form-input-label form-radio-role">{{ form.role.label() }}</span>
                <div class="form-radio-buttons">
                    {% for role in form.role %}
                        {{ role(class_="btn-check form-radio") }}
                        {{ role.label(class_="form-radio-label") }}
                    {% endfor %}
                </div>
                <!-- {{ form.role(class_="btn-check", id="role-button") }} -->
                {% for error in form.role.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <input type="submit" value="Sign Up" class="form-input-button">
        </div>
        <div class="form-all-teams">
            <div id="teams-fan">
                <h5>You can be a fan of one of the teams below.</h5>
                <div class="teams-container">
                    {% for team in teams %}
                        <input type="radio" class="btn-check" id="{{ team.id }}" name="team" value="{{ team.id }}">
                        <label class="teams-container-team btn btn-outline-success" for="{{ team.id }}">{{  team.club_name }}</label><br>
                    {% endfor %}
                </div>
            </div>
            <div id="teams-manager">
                <h5>You can take teams below.</h5>
                <div class="teams-container">
                    {% for team in teams %}
                        {% if team.is_taken == false %}
                            <input type="radio" class="btn-check" id="{{ team.id }}" name="team" value="{{ team.id }}">
                            <label class="teams-container-team btn btn-outline-success" for="{{ team.id }}">{{  team.club_name }}</label><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</form>


{% endblock %}