{% extends "layout.html" %} {% block title %}Login{% endblock %}

{% block content %}

<form method="POST">
    {{ form.csrf_token }}

    <div class="signup-form">
        <div class="form-elements">
            <div class="form-element">
                <div class="form-input-label">{{ form.username.label }}</div>
                <div class="form-input">{{ form.username(size=32) }}</div>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-element">
                <div class="form-input-label">{{ form.password.label }}</div>
                <div class="form-input">{{ form.password(size=32) }}</div>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-element">
                <div class="form-input-label">{{ form.password_confirm.label }}</div>
                <div class="form-input">{{ form.password_confirm(size=32) }}</div>
                {% for error in form.password_confirm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-element">
                <div class="form-input-label">{{ form.fullname.label }}</div>
                <div class="form-input">{{ form.fullname(size=32) }}</div>
                {% for error in form.fullname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            <div class="form-element">
                <div class="form-input-label">{{ form.role.label }}</div>
                <div class="form-input">{{ form.role(class="") }}</div>
                {% for error in form.role.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <input type="submit" value="Go">
        </div>
        <div class="form-all-teams">
            {% for team in teams %}

            {% endfor %}
        </div>
    </div>

</form>


{% endblock %}